#allContent{
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 100vh;
}

.profile{
    grid-row: 1/2;
    grid-column: 1/2;
    box-shadow: 2px 2px 10px grey;
}


.profile img{
    margin-top: 4%;
    margin-left: 30%;
    width: 200px;
    height: 200px;
}


.contentProfile{
    grid-row: 1/2;
    grid-column: 2/3;
}