<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{{ url_for('static', filename='css/styleDashboard.css') }}" type="text/css" rel="stylesheet" media="screen, projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for ('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for ('static', filename='css/styleSearch.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for ('static', filename='css/styleProfile.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static', filename='css/styleDashboard.css') }}" type="text/css" rel="stylesheet" media="screen, projection"/>

</head>
<body>

    {% include 'navDashboard.html' %}

    {% block content %}{%endblock%}






  <!--  Scripts-->
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/materialize.js')}}"></script>
  <script src="{{ url_for('static', filename='js/init.js')}}"></script>
  <script>
  
  $(document).ready(function(){
    $('.modal').modal();
  });

   $(document).ready(function(){
    $('.tabs').tabs();
  });
  $(document).ready(function(){
    $('select').formSelect();
  });

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
         
  </script>
</body>