<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{{ url_for('static', filename='css/styleDashboard.css') }}" type="text/css" rel="stylesheet" media="screen, projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for ('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

    {% include 'navDashboard.html' %}

    <div id='contentAll'>

        <div id='content1'>

            <div id='contentAbout'>


                <div class="image">

                    <img src="{{ url_for('static', filename='img_perfil/'+dados[4]) }}" class="circle">
                    
                </div>


                <div class="aboutText center">
                    <p>{{ dados[2] }}</p>
                    <a href="/conta ">Veja tudo</a><br>
                    <a href="/criaGrupo">Criar Grupo</a>
                </div>

                
                <div class="grupos">

                        <div class="row">

                                {% for grupo in grupos %}
                                <div class="col s12 m6">
                                        <div class="background">
                                            <div class="fotoGrupo">
                                                <img src="{{ url_for('static', filename='img_perfil/'+grupo[3]) }}">
                                            </div>
                                            <div class="titulo center">
                                                <a href="#">{{grupo[1]}}</a></div>
                                        </div>
                                </div>
                                {% endfor %}

                                    
                        </div>
                    
                </div>

            </div>

        </div>


        <div id='content2'>

            <div class="allContent2">
    
                <div class="row">
                    <a class="waves-effect waves-light btn modal-trigger col s12" href="#modal1">Postar</a>
                </div>
                
    
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                            <form method="POST">
                                <div class="row">
                                    <input type="text" placeholder="Digite seu texto" name="postText" class="col s12">
                                    <input type="file" value="Mande uma imagem" name="postImage" class="col s12 ">
                                </div>
    
                                <div class="modal-footer">
                                    <input type="submit" value="Postar" name="post" class="col s6 btn">
                                </div>
                            </form>
                    </div>
                </div>
                
                {% if posts %}
                {% for post in posts %}
                {% for persons in pessoas %}
                {% if post[1] == persons[0]%}
                <div class="mural">
    
                    
                    <div class="row">
                        <img src="{{ url_for('static', filename='img_perfil/'+persons[4]) }}" class="col s1 circle">
                        <h5 class="col s11">{{ persons[2] }}</h5>
                    </div>
    
                    <div class="post">
                        <p>{{ post[3] }}</p>
                    </div>
                {%endif%}
                {%endfor%}
    
                            {% for comment in comments %}
                            {% if comment[1] == post[0]%}
                            {% for persons in pessoas %}
                            {% if comment[3] == persons[0]%}
                            <div class="coment">
        
                                <div class="row" >
            
                                        <img src="{{ url_for('static', filename='img_perfil/'+persons[4]) }}" class="col s1 circle">
                                        <h5 class="col s11">{{ persons[2] }}</h5>
                                        <div class="post">
                                            <p>{{ comment[2] }}</p>
                                        </div>        
                                            
                                </div>
                                
                                {% for resposta in respostas %}
                                {% if resposta[1] == comment[0] %}
                                {% for persons in pessoas %}
                                {% if resposta[3] == persons[0]%}
                                <div class="row" style='border: 1px solid grey;'>
                                        <img src="{{ url_for('static', filename='img_perfil/'+persons[4]) }}" class="col s1 circle">
                                        <h5 class="col s11">{{ persons[2] }}</h5>
                                        <div class="post">
                                            <p>{{ resposta[2] }}</p>
                                        </div>    
    
                                </div>
                                {%endif%}
                                {%endfor%}
                                {%endif%}
                                {%endfor%}
                                {% endif %}
                                {% endfor %}
    
                                <form method="POST">
                                        <input type="hidden" value="{{comment[0]}}" name="textCatch2">
                                        <input type="text" placeholder="Digite sua resposta" class="col s4" name="textResp">
                                        <input type="submit" value="Comentar" class="btn col s2 small">
                                    </form>   
                            </div> 
                            {% endif %}        
                            {%endfor%}
    
                                <form method="POST">
                                    <input type="hidden" value="{{post[3]}}" name="textCatch">
                                    <input type="text" placeholder="Digite seu comentário" class="col s4" name="textComent">
                                    <input type="submit" value="Comentar" class="btn col s2 small">
                                </form>
    
                        </div>
    
    
                        {% endfor %}
                        
                    </div>
    
                </div>
                {%endif%}
    
    </div>




  <!--  Scripts-->
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/materialize.js')}}"></script>
  <script src="{{ url_for('static', filename='js/init.js')}}"></script>
  <script>
  
  $(document).ready(function(){
    $('.modal').modal();
  });
         
  </script>
</body>
</html>