  
    <nav class='grey darken-3'>
        <div class="nav-wrapper container">
        <a href="/dashboard" class="brand-logo">MyOwn</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/dashboard" class="waves-effect waves-light btn cyan darken-4">Início <i class="material-icons">home</i></a></li>
            <li><a href="/conta">Conta</a></li>
            <li><a href="/gruposAdm">Gerenciar grupos</a></li>
            <li><a href="/solicitacao">Solicitações</a></li>
            <li><a href="/search">Buscar</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        </div>
    </nav>

     <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="">
      </div>
      <a href="#user"><img class="circle" src=""></a>
      <a href="#name"><span class="white-text name"></span></a>
      <a href="#email"><span class="white-text email"></span></a>
    </div></li>
      <li><a href="/dashboard" class="waves-effect waves-light btn cyan darken-4">Início</a></li>
      <li><a href="/conta">Conta</a></li>
      <li><a href="/gruposAdm">Gerenciar grupos</a></li>
      <li><a href="/solicitacao">Solicitações</a></li>
      <li><a href="/search">Buscar</a></li>
      <li><a href="/logout">Logout</a></li>
  </ul>
